.buy-now{
    background-color: black;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.center{
    text-align: center;
}
#cat{
    text-decoration: underline;
    text-decoration-color: yellow;
}
.category-item {
    padding:  20px 20px;
}